.modalBox {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 40%;
   height: 40%;
   background-color: #666666;
   border: 2px solid white;
   border-radius: 2%;
   box-shadow: 24px;
   padding-block: 2rem; 
}

.ratingBox {
   display: flex;
   width: 100%;
   align-items: center;
   justify-content: center ; 
   margin-bottom: 1rem;
}

.reviewInput{
   width: 80%;
}

.typo{
   margin-right: 1rem;
   font-size: 30px;
}

.postButton{
   margin-top: 1rem;
}

@media (max-width: 1200px){
   .modalBox {
      width: 50%;
      height: 45%;
      top: 44%;
   }
}

@media (max-width: 800px){
   .rating{
      font-size: 1rem;
   }
   .typo{
      margin-right: 0.5rem;
      font-size: 20px;
   }
   .modalBox {
      padding-block: 1rem; 
      height: 40%;
      width: 55%;
      top: 38%;
   }
   .postButton{
      margin-top: 0.5rem;
   }
   .ratingBox {
      margin-bottom: 0.5rem;
   }
}

@media (max-width: 480px){
   .rating{
      font-size: 1rem;
   }
   .typo{
      margin-right: 5px;
      font-size: 12px;
   }
   .modalBox {
      padding-block: 0.5rem; 
      height: auto;
      width: 60%;
      top: 30%;
   }
   .ratingBox {
      margin-bottom: 0.5rem;
      display: contents;
   }
}